body {
    background: url('america-analysis-cellphone-926987.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    text-align: center;
    padding: 20%;
}
